html,
body {
    width: 100%;
    height: 100%;
    display: block;
}
body {
    background: url("/~/assets/images/Cat.jpg");
    background-size: cover;
}
.font-weight-bold{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
}

.img-fluid{
    max-width: 100%;
    height: auto;
} 
.container-fluid{
    margin-bottom: 2%;
}
.navbar{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
    padding-top: 2%;
}
#nbarcol1{
    margin-right: -15px;
}
#nbarcol2 {
    margin-left: -15px;
}
#name {
    background-color: #4aaaa5;
    color: white;
    padding: 1%;
}
.a {
    color: #cccccc;
    display: inline-block;
    float: right;
}
#pagelinks {
    float: right;
}
#contentbox {
    background: white;
    border: 1px solid;
    border-color: #cccccc;
    max-width: 100%;
    margin: 0;
}
#content {
    max-width: inherit;
}
#about {
    margin: 0;
    max-width: 100%;
}
#profile {
    float: left;
    margin-right: 2%;
}
#aboutme{
    color: #4aaaa5;
    border-bottom: 2px solid;
    border-bottom-color: #cccccc;
    margin-top: 2%;
    margin-bottom: 2%;
}
.footer {
        height: 8%;
        background-color: #666666;
        border-top: 5px solid;
        border-color: #4aaaa5;    
}


@media only and screen(max-width: 770px) {

}